{% extends 'base.html' %}

{% block title %}Problems – CodeVerse{% endblock %}

{% block content %}

<h2 class="mb-4">🧠 All Problems</h2>

{% for p in problems %}
<div class="problem-card">
  <div class="problem-card-title">💠 {{ p.name }}</div>
  <div class="problem-card-meta">Code: <code style="background:#0c295a;padding:2px 4px;border-radius:4px;">{{ p.code }}</code></div>
  <div class="d-flex justify-content-between align-items-center">
    <span class="difficulty-badge
      {% if p.difficulty == "E" %} badge-easy
      {% elif p.difficulty == "M" %} badge-medium
      {% else %} badge-hard
      {% endif %}">
      {{ p.get_difficulty_display }}
    </span>
    <a href="{% url 'problem_detail' code=p.code %}" class="btn-solve">
      Solve →
    </a>
  </div>
</div>
{% empty %}
<p>No problems yet—start coding! 💻</p>
{% endfor %}


{% endblock %}
