{% extends 'base.html' %}
{% block title %}Submission #{{ submission.id }} - CodeVerse{% endblock %}

{% block content %}
<div class="mt-4">

  <!-- Top-right buttons -->
  <div class="d-flex justify-content-end gap-2 mb-3 flex-wrap">
    <a href="{% url 'problem_list' %}" class="btn btn-outline-primary">Back to Problems</a>
    <a href="{% url 'problem_detail' submission.problem.code %}" class="btn btn-outline-success">Back to {{ submission.problem.name }}</a>
  </div>


  <h2>📝 Submission #{{ submission.id }}</h2>
  <p><strong>Problem:</strong> {{ submission.problem.name }}</p>
  <p><strong>Language:</strong> {{ submission.language }}</p>
  <p><strong>Verdict:</strong>
    {% with submission.verdict|lower as v %}
      <span class="verdict-box
        {% if v == 'accepted'                %}verdict-ac
        {% elif v == 'wrong answer'          %}verdict-wa
        {% elif v == 'time limit exceeded'   %}verdict-tle
        {% elif v == 'memory limit exceeded' %}verdict-mle
        {% elif v == 'compilation error'     %}verdict-ce
        {% elif v == 'runtime error'         %}verdict-re
        {% else                              %}verdict-other{% endif %}">
        
        <i class="verdict-icon
          {% if v == 'accepted'                %}fa-solid fa-circle-check
          {% elif v == 'wrong answer'          %}fa-solid fa-circle-xmark
          {% elif v == 'time limit exceeded'   %}fa-solid fa-clock
          {% elif v == 'memory limit exceeded' %}fa-solid fa-microchip
          {% elif v == 'compilation error'     %}fa-solid fa-code
          {% elif v == 'runtime error'         %}fa-solid fa-bug
          {% else                              %}fa-solid fa-question{% endif %}"></i>
      
        {{ submission.verdict }}
      </span>
    {% endwith %}
    </p>
  <hr>
  <h4>Submitted Code:</h4>
  <pre style="
  background: #0f172a;
  color: #e2e8f0;
  padding: 1rem;
  border-radius: 8px;
  font-family: 'Fira Code', monospace;
  font-size: 0.95rem;
  white-space: pre-wrap;
  overflow-x: auto;
  border: 1px solid #334155;
  box-shadow: 0 0 10px rgba(0,255,255,0.05);
  ">{{ code_content }}</pre>

  </pre>
  

</div>
{% endblock %}
